*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
}
body {
    text-align: center;
    margin: 10px auto;
    width: 1000px;
    border: 10px solid black
}

img{
    height: 600px;
    width: 400px;
    margin: 7px;
    border: 6px solid white;
}

.capa-livro{
    background-color: #7f7f7f;
}

a{
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(55, 85, 180);
    text-decoration: none;
    padding: 3px 7px;
    color:antiquewhite;
    margin: 7px auto;
    font-weight: bold;
}

span{
    font-weight: bold;
    font-size: 22px;
}

p{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 950px;
    margin: 5px auto;
}

h3{
    font-size: 26px;
    text-decoration: underline black;
}
 h2{
    font-size: 28px;
 }

 h1{
    font-size: 30px;
    text-decoration: underline;
 }

div{
    padding: 10px;
    background-color: gray;
    text-align: center;
}

.borda{
    border: solid 20px #A5A0A0;
}